@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lobster&family=Signika:wght@400;700&display=swap');

body {
  font-family: Lobster;
}
label {
  color: #002060;
  font-weight: bold;
}
