.page {
  background-color: #FFDDD6;
}
.promo{
  text-align: center;
  background-color: #002060;
  color: #FFDDD6;
  border: 3px dashed #002060;
  border-radius: 5px;
  margin-top: 10px;
}
.title{
  text-align: center;
}
