<div class="page">
  <app-messages></app-messages>
  <app-headline></app-headline>
  <app-testemunhos></app-testemunhos>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 ">
        <div class="promo">
          <h3 class="title">Aproveite os dias dos namorados:</h3>
        <p>BALAS 7 BELO, É O MELHOR PRESENTE PARA O DIA DOS NAMORADOS!!</p>
        </div>
      </div>
      <app-form-inscricao class=" col-sm-12 col-md-8 "></app-form-inscricao>
    </div>
  </div>
  <app-footer></app-footer>
</div>
