.page {
  background-color: #ffddd6;
  font-family: "Signika", arial, sans-serif;
}
.promo {
  text-align: center;
  background-color: #002060;
  opacity: 0.8;
  color: #ffddd6;
  border: 3px dashed #002060;
  border-radius: 5px;
  margin-top: 10px;
}
.container{
  margin-bottom: 3%;
}
.title {
  text-align: center;
}
