<section class="container">
  <div class="card">
    <div class="row container_title"><h4>Veja os testemunhos dos nossos clientes:</h4></div>
    <article class="col testemunhos">
      <div class="card">
        <div class="card-body">
          <p>Testemunho</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p>Testemunho</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p>Testemunho</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p>Testemunho</p>
        </div>
      </div>

    </article>
  </div>
</section>
