.container_title{
  margin: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Signika", arial, sans-serif;
}
.testemunhos{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.card{
  margin: 1rem;
  border: 2px solid #002060;
}
.card_testemunhos{
  width: 250px;
  height: 200px;
  border-radius: 5px;
}
.card-title{
  font-weight: bold;
}
.card-body{
  display: flex;
  justify-content: flex-start;
}
p {
  max-width: 100ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_image{
  width: 20px;
  height: 20px;
}

.card_testemunhos:hover{
  transform: scale(1.1);
  border-color: #002060;
}
