<section>
  <div class="container">
    <div class="row">
      <!--Form Comentar -->
      <div class="col-sm-12 col-md-4 col-lg-4 .col-xl-4">
        <div class="card">
          <form [formGroup]="form" (submit)="coment()">
            <div class="card-header">
              <div class="card-form_title">
                <h4>Faça seu comentário ou sugestão:</h4>
              </div>
            </div>
            <div class="row card-body">
              <div class="row">
                <label>Nome:</label>
                <input
                  class="form-control"
                  formControlName="name"
                  type="text"
                />
                <app-campo-control-erro
                  *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched"
                  msgErro="Nome é Obrigatório"
                ></app-campo-control-erro>
              </div>
              <div class="row">
                <label>Email:</label>
                <input
                  class="form-control"
                  placeholder="algumacoisa@email.com"
                  formControlName="email"
                  type="text"
                />
                <app-campo-control-erro
                  *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched"
                  msgErro="E-mail é Obrigatório"
                ></app-campo-control-erro>
                <app-campo-control-erro
                  *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched"
                ></app-campo-control-erro>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Comente</label>
                <textarea
                  class="form-control"
                  maxlength="30"
                  formControlName="body"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <div class="card-footer">
              <button
                [disabled]="!form.valid"
                type="submit"
                class="btn btn-success"
              >
                Comentar
              </button>
            </div>
          </form>
        </div>
      </div>
      <!--Card Comentarios-->
      <div class="col-sm-12 col-md-8 col-lg-8 .col-xl-8">
        <div class="card card-container">
          <div class="row container_title">
            <h4>Veja os testemunhos dos nossos clientes:</h4>
          </div>
          <article class="testemunhos">
            <div
              *ngFor="let t of testemunhos | slice: 0:4"
              class="card card_testemunhos"
            >
              <div class="card-header card-title">
                {{ t.name }}
                <img
                  class="card_image"
                  src="assets/imgs/aspas.png"
                  alt="Ícone"
                />
              </div>
              <div class="card-body">
                <p>{{ t.body }}</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
