<header class="headline">
  <div class="container content">
    <div class="headline_incial">
      <div>
        <div style="display: flex" class="imagem">
          <h2 ><em>7Belo</em></h2>
          <img class="logo" src="assets/imgs/7belo_bala.png" alt="Imagem do Produto" />
        </div>
      </div>
      <div>
        <h3 class="hedline_title">
          BALAS 7 BELO, DESDE 1960 A MELHOR BALA FABRICADA NO BRASIL.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="row beneficios col col-md-6 col-lg-6">
        <h5 class="beneficios_title">As Balas 7Belo Oferecem:</h5>
        <ul class="beneficios-list">
          <li>Sabor: Um sabor único e incomparável.</li>
          <li>Diversão: Perfeita para os momentos mais divertidos da sua vida.</li>
          <li>Qualidade: Se preocupamos em produzir com os mais altos padrões de qualidade</li>
        </ul>
      </div>
      <div class="col col-md-6 col-lg-6">
        <div class="imagem">
          <img  src="assets/imgs/7belo_pacote.png" alt="Imagem do Produto" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 caracteriticas">
          <h5 class="caracteristicas_title">Características:</h5>
          <ul class="caracteristicas_list">
            <li>Diversidade de Sabores.</li>
            <li>Embalagens de última geração.</li>
            <li>Diversos tamanhos.</li>
            <li>Pronta entrega para todo o Brasil.</li>
          </ul></div>
          <div class="col col-md-6 col-lg-6">
            <div class="imagem">
              <img src="assets/imgs/bala_iogurte.png" alt="Imagem do Produto" />
            </div>
          </div>
      </div>
    </div>
  </div>
</header>
