<section>
  <form [formGroup]="form" class="form container" (ngSubmit)="cadastrar()">
    <div class="card">
      <div class="card-title"><h4>Inscreva-se:</h4></div>
      <div class="row">
        <label>Nome:</label>
        <input class="form-control" formControlName="name" type="text" />
        <app-campo-control-erro
          *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched"
          msgErro="Nome é Obrigatório"
        ></app-campo-control-erro>
      </div>
      <div class="row">
        <label>Email:</label>
        <input
          class="form-control"
          placeholder="algumacoisa@email.com"
          formControlName="email"
          type="text"
        />
        <app-campo-control-erro
          *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched"
          msgErro="E-mail é Obrigatório"
        ></app-campo-control-erro>
        <app-campo-control-erro
        *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched"
        ></app-campo-control-erro>
      </div>
      <div><label for="genero" class="control-label">Genêro:</label></div>
      <div>
        <div class="form-check form-check-inline">
          <input
            formControlName="gender"
            class="form-check-input"
            type="radio"
            value="male"
            name="gender"
            id="gender"
          />
          <label class="form-check-label" for="gender"> Masculino </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            formControlName="gender"
            class="form-check-input"
            type="radio"
            name="gender"
            value="female"
            id="gender"
            checked
          />
          <label class="form-check-label" for="gender"> Feminino </label>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="!form.valid" type="submit" class="btn btn-success">
          Inscrever-se
        </button>
      </div>
    </div>
  </form>
</section>
